.row-1{
    background: rgb(3,169,244);
    padding-left: 1.5em;
}

.row-1 ul{
    display: flex;
}
li.row-items{
    list-style-type: none;
    padding-left: .7em;
    padding-right: .7em;
}
.row-text{
    color: rgb(255,255,255);
    font-size: .8em;
    cursor: pointer;
}
