.carousel-card {
  .main-card {
    background-color: rgb(255, 255, 255);
    margin: 1em;
    width: 42em;
    border-radius: 12px;
    margin-bottom: 0px;
    li {
      list-style-type: none;
    }
    .card-items {
      padding: 1em 1em;
      padding: 1em 0.5em;
      height: auto;
      background-color: rgb(255, 255, 255);
      border-radius: 15px;
      border: 1px solid rgb(237, 238, 240);
      .card {
        display: flex;
        background-color: rgb(255, 255, 255);
        flex-direction: row;
        width: 40em;
        overflow: hidden;
        margin: 0;
        .key-items {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 12em;
          height: 11em;
          padding: 0.5em 0.5em;
        }
        .imgs {
          display: flex;
          flex-direction: column;
          width: 12em;
          height: 100%;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          cursor: pointer;
          img {
            width: 12em;
            height: auto;
            transition: 0.5s ease-in-out;
            border-radius: 15px;
          }
        }
        .imgs:hover img {
          transform: scale(1.1);
        }
      }
      li {
        list-style-type: none;
      }
      .row1 {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(237, 238, 240);
        .L_1 {
          font-size: 0.9em;
          font-weight: 600;
        }
        .L_2 {
          font-size: 0.7em;
          font-weight: 400;
        }
      }

      .R2 {
        padding-bottom: 1em;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(237, 238, 240);
        .row2 {
          padding: 0.6em 1em;
          .img {
            width: 25px;
            display: flex;
            margin-right: 12px;
          }

          .l_1 {
            display: flex;
            font-size: 1em;
            font-weight: 600;
            color: #e11a1a;
          }
          .l_2 {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            font-weight: 600;
            padding-top: 0.5em;
          }
          .i1 {
            display: flex;
            font-weight: 600;
          }
        }
        .i2 {
          padding-left: 1em;
          font-size: 13px;
          font-weight: 400;
        }
      }
      .cric {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1em;
        border-bottom: 1px solid rgb(237, 238, 240);
        background-color: rgb(255, 255, 255);
        span {
          margin-top: 0.5em;
          background-color: rgb(255, 255, 255);
          font-weight: 800;
          font-size: 1.2em;
          color: rgba(0, 0, 0, 0.791);
        }
        .imgs {
          display: flex;
          flex-direction: column;
          width: 40em;
          height: 100%;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          cursor: pointer;
          img {
            width: 40em;
            height: auto;
            transition: 0.5s ease-in-out;
            border-radius: 15px;
          }
        }
        .imgs:hover img {
          transform: scale(1.1);
        }
      }
      .vedio-card {
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(237, 238, 240);
        .key-items {
          display: flex;
          justify-content: space-between;
          padding: 1em 1em;
          .imgs {
            display: flex;
            flex-direction: column;
            width: 13em;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            img {
              width: 13em;
              height: auto;
              transition: 0.5s ease-in-out;
              border-radius: 15px;
            }
            .imgs:hover img {
              transform: scale(1.1);
            }
          }
        }
        .l_4 {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        span {
          font-weight: 800;
          font-size: 1.2em;
          color: rgba(0, 0, 0, 0.791);
          margin-right: 2em;
          margin-bottom: 5px;
        }
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .R5 {
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(237, 238, 240);
        padding: 1em 1em;
        li {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        h6 {
          display: inline-flex;
          align-items: flex-start;
          line-height: 1;
          font-size: 11px;
          font-weight: 400;
          .icon {
            padding-right: 10px;
            font-size: 12px;
            color: #058fff;
          }
        }
      }
    }
  }
}
