

.row-1 {
  background: var(--background);
  padding-left: 1.5em;
  ul {
    display: flex;
    margin: 0;
  }
}
li.row-items {
  list-style-type: none;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.row-text {
  color:rgb(255, 255, 255);
  font-size: 0.8em;
  cursor: pointer;
}
.score-card{
  display: flex;
  flex-wrap: wrap;
  :hover{
    cursor: pointer;
  }
  .row-item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .teams{
    display: flex;
    justify-content: space-between;
    
  }
  .team2{
    display: flex;
    justify-content: space-between;
  }
  .team-win{
    display: flex;
    font-size: .7em;
    margin: 2px;
    border-bottom: 1px solid var(--bg-white-bor);
  }
  .border{
    display: flex;
    justify-content: space-evenly;
    font-size: .8em;
    margin-right: 4.5em;
    margin-top: .6em;
    :hover{
      text-decoration: underline;
    }
  }
}
 .score-card li {
  display: flex;
flex-direction: column;
 background-color:var(--bg-white);
 color: var(--text-color);
 border-radius: 15px;
 border: 1px solid var(--bg-white-bor);
 padding: 6px 10px;
 width: 14em;
 }
.score-card h5,
 h6 {
   padding: 0.5em 0.5em;
  margin: 0px;
   font-size: 0.5em;
}
.score-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

