.left-side {
  display: flex;
  flex-direction: column;
}
.key-series-card {
  display: flex;
  

  li {
    list-style-type: none;
  }
  .key-items {
    background-color: rgb(255, 255, 255);
    margin: 1em;
    width: 16em;
    border-radius: 12px;
    border: 1px solid rgb(237, 238, 240);
    margin-bottom: 0px;
    .heading {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 0.9em;
      border-bottom: 1px solid rgb(237, 238, 240);
    }
    h6 {
      font-size: 13px;
      font-weight: 400;
      display: flex;
      align-items: center;
      padding: 9px 10px;
      .icon {
        padding-right: 10px;
        font-size: 12px;
        color: #058fff;
      }
    }
    h6:hover{
      background-color: #9ecff6;
      cursor: pointer;
    }
  }
}
