.footer{
    display: flex;
    justify-content: center;
    background-color: var( --body-bg);
    .footer-side{
        display: flex;
        background-color:var(--bg-white-cards);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        width: 75em;
        height: 24em;
        margin-top: 2em;
        margin-bottom: 2em;
        justify-content: center;
        border-radius: 15px;
        border: 1px solid var(--bg-white-bor);
        .key-series-card .key-items{
            margin: 1em;
            width: 13em;
            margin-bottom: 0px;
            border: none;
            .heading{
                font-weight: 800;
                font-size: 1em;
                color:var(--text-color);
            }
            h6{
                font-size: 15px;
                color:var(--text-color);
                font-weight: 300;
            }
            h6:hover{
                text-decoration: underline;
                cursor: pointer;
                background-color:var(--bg-white-cards);
            }
            }

}
}

