@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  box-sizing: border-box;
  overflow:visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.light-theme{
  --background: #058fff;
  --bg-white:rgb(255, 255, 255);
  --bg-white-bor:rgb(237, 238, 240);
  --text-color:rgb(0, 0, 0);
  --body-bg:rgb(246,247,248);
  --bg-white-cards:rgb(255, 255, 255);
}
.dark-theme{
  --background: rgb(29,30,31);
  --bg-white:rgba(41, 42,46 ,1);
  --bg-white-bor:rgb(35, 36,40,1);
  --text-color:rgb(255, 255, 255);
  --body-bg:rgb(0, 0, 0);
  --bg-white-cards:rgba(18,18,20,1);
}